.arts {
  width: fit-content;
  transition: opacity 0.3s;
  padding-left: var(--mantine-spacing-lg);
  padding-right: var(--mantine-spacing-lg);
}

.overflowXHidden {
  overflow-x: hidden;
}

.overflowXAuto {
  overflow-x: auto;
}
